@section Stlyes{
    <link rel="stylesheet" href="~/css/styles.css" />
}
<h1 class="error">Gadget Sign Up Form</h1>
<!---728x90--->
<div class="w3layouts-two-grids">
    <!---728x90--->
    <div class="mid-class">
        <div class="img-right-side">
            <h3>Manage Your Gadgets Account</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget Lorem ipsum dolor sit
                amet, consectetuer adipiscing elit. Aenean commodo ligula ege
            </p>
            <img src="~/images/b11.png" class="img-fluid" alt="">
        </div>
        <div class="txt-left-side">
            <h2> Sign Up Here </h2>
            <form action="#" method="post">
                <div class="form-left-to-w3l">
                    <span class="fa fa-user-o" aria-hidden="true"></span>
                    <input type="text" name="Name" placeholder=" Name" required="">

                    <div class="clear"></div>
                </div>
                <div class="form-left-to-w3l">
                    <span class="fa fa-phone" aria-hidden="true"></span>
                    <input type="text" name="Phone" placeholder="Phone" required="">

                    <div class="clear"></div>
                </div>
                <div class="form-left-to-w3l">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                    <input type="email" name="email" placeholder="Email" required="">

                    <div class="clear"></div>
                </div>
                <div class="form-left-to-w3l ">

                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <input type="password" name="password" placeholder="Password" required="">
                    <div class="clear"></div>
                </div>
                <div class="main-two-w3ls">
                    <div class="left-side-forget">
                        <input type="checkbox" class="checked">
                        <span class="remenber-me">Remember me </span>
                    </div>
                    <div class="right-side-forget">
                        <a href="#" class="for">Forgot password...?</a>
                    </div>
                </div>
                <div class="btnn">
                    <button type="submit">Sign Up </button>
                </div>
            </form>
            <div class="w3layouts_more-buttn">
                <h3>
                    Don't Have an account..?
                    <a href="#">
                        Login Here
                    </a>
                </h3>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
