@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="agile-tables">
        <div class="col-md-8">

        </div>


        <div class="col-md-4">
            <a asp-area="Admin" asp-controller="Roles" asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>  Create Role</a>
        </div>
        <div class="w3l-table-info">
            <h2>Role List</h2>
            <form method="post">
                <table class="w3l-table-info">
                    <thead>
                        <tr>
                            <th>
                            
                            </th>
                            <th></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
